.demo-6 {
	--color-text: #fff;
	--color-bg: #020202;
	--color-link: #fff;
	--color-link-hover: #415bf8;
	--color-stitle: #f1f1f1;
	--fontsize-stitle: 12vw;
	--color-nav: #fff;
	--color-nav-hover: #415bf8;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.slideshow {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide__img {
	position: absolute;
	top: -200px;
	left: -200px;
	width: calc(100% + 400px);
	height: calc(100% + 400px);
	background-size: cover;
	background-position: 50% 50%;
}

.slidenav {
	position: absolute;
	width: 300px;
	margin-left: -150px;
	left: 50%;
	bottom: 0;
	text-align: center;
	padding: 2em;
}

.slidenav__item {
	border: 0;
	background: none;
	font-weight: bold;
	color: var(--color-nav);
}

.slidenav__item:focus {
	outline: none;
}

.slidenav__item:hover {
	color: var(--color-nav-hover);
}

.shape {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--color-shape-fill);
	top: 0;
	pointer-events: none;
}

.slide__title {
	position: relative;
	font-size: var(--fontsize-stitle);
	margin: 0;
	cursor: default;
	line-height: 1;
	color: var(--color-stitle);
}

.slide__desc {
	position: relative;
	font-size: 1.5em;
	margin: 0 0 2em 0;
	cursor: default;
	color: var(--color-sdesc);
	padding: 0 1em;
	text-align: center;
}

.slide__link {
	position: relative;
	font-size: 1em;
	font-weight: bold;
	padding: 1em 2em;
	display: block;
	color: var(--color-slink);
	background: var(--color-slink-bg);
	transition: color 0.3s, background 0.3s;
}

.slide__link:hover {
	color: var(--color-slink-hover);
	background: var(--color-slink-hover-bg);
}

@media screen and (min-width: 55em) {

}

@media screen and (max-width: 55em) {
	body {
		padding: 0 0 4em 0;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}

	.slide__desc {
		font-size: 1em;
	}
	.slide__link {
		font-size: 0.85em;
	}
}
